In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
b=pd.read_csv('Assignment1-data.csv')

In [15]:
c=pd.DataFrame(b)

In [16]:
c.head()

            Unnamed: 0  Open  High   Low  Close
0  2017-09-01 10:00:00  3079  3079  3072   3074
1  2017-09-01 10:10:00  3074  3074  3073   3074
2  2017-09-01 10:20:00  3074  3074  3072   3072
3  2017-09-01 10:30:00  3072  3073  3072   3073
4  2017-09-01 10:40:00  3073  3074  3072   3072

In [17]:
c.loc[0]

Unnamed: 0    2017-09-01 10:00:00
Open                         3079
High                         3079
Low                          3072
Close                        3074
Name: 0, dtype: object

In [20]:
a=c['High'].values.tolist()

In [21]:
d=c['Low'].values.tolist()

In [65]:
e=[]
for i in range(1,len(a)):
    e.append(a[i]-d[i])

In [66]:
len(e)

1699

In [35]:
test2=a[1:]

In [36]:
test3=c['Close'].values.tolist()

In [63]:
f=[]
for i in range(0,len(test2)):
    f.append(abs(test2[i]-test3[i]))

In [61]:
g=[]
test4=d[1:]
for i in range(0,len(test4)):
    g.append(abs(test4[i]-test3[i]))

In [62]:
len(g)

1699

In [67]:
len(e)

1699

In [64]:
len(f)

1699

In [70]:
tr=[]
for i in range(len(e)):
    tr.append(max(e[i],f[i],g[i]))

In [73]:
tr=[None] + tr

In [74]:
tr

[None,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 5,
 2,
 2,
 4,
 3,
 3,
 2,
 3,
 2,
 5,
 2,
 2,
 3,
 3,
 3,
 2,
 4,
 5,
 4,
 2,
 1,
 2,
 1,
 3,
 2,
 2,
 2,
 7,
 5,
 3,
 7,
 7,
 4,
 5,
 7,
 10,
 10,
 17,
 4,
 12,
 9,
 8,
 20,
 10,
 8,
 11,
 6,
 4,
 28,
 8,
 6,
 13,
 6,
 5,
 8,
 5,
 8,
 2,
 6,
 3,
 2,
 10,
 3,
 4,
 10,
 5,
 4,
 9,
 7,
 16,
 4,
 3,
 2,
 2,
 3,
 5,
 4,
 3,
 4,
 3,
 3,
 3,
 3,
 1,
 5,
 9,
 4,
 5,
 4,
 15,
 3,
 2,
 4,
 2,
 5,
 2,
 3,
 3,
 2,
 5,
 6,
 5,
 2,
 4,
 3,
 3,
 1,
 5,
 1,
 3,
 3,
 6,
 2,
 2,
 3,
 2,
 3,
 5,
 12,
 4,
 3,
 0,
 0,
 0,
 0,
 0,
 4,
 1,
 15,
 5,
 5,
 7,
 4,
 7,
 3,
 2,
 1,
 2,
 2,
 2,
 9,
 5,
 1,
 3,
 2,
 2,
 8,
 4,
 9,
 3,
 9,
 3,
 4,
 2,
 2,
 3,
 3,
 1,
 1,
 6,
 2,
 0,
 1,
 2,
 2,
 2,
 4,
 3,
 2,
 2,
 0,
 0,
 17,
 3,
 5,
 3,
 2,
 1,
 1,
 4,
 4,
 1,
 3,
 6,
 8,
 3,
 4,
 3,
 8,
 4,
 5,
 4,
 4,
 3,
 7,
 5,
 14,
 3,
 9,
 8,
 6,
 22,
 16,
 5,
 4,
 10,
 6,
 6,
 5,
 4,
 12,
 7,
 6,
 8,
 12,
 5,
 13,
 7,
 2,
 5,
 2,
 12,
 5,
 6,
 8,
 6,
 6,
 8,
 6,
 4,
 5,
 25,
 2,
 2,
 0,
 1,
 1,
 2,
 4,
 2,
 4,
 1,
 2,
 1,
 7,
 2,
 2,
 2,
 3,
 7,
 3,
 4,
 4,
 3,
 2,
 5,
 1,
 3,
 3,
 3,
 4,
 2,
 2,
 7,
 7,
 3,
 5,
 2,
 6,
 5,
 6,
 11,
 7,
 5,
 7,
 7,
 3,
 4,
 5,
 4,
 3,
 11,
 15,
 4,
 10,
 11,
 13,
 10,
 11,
 5,
 7,
 12,
 20,
 10,
 5,
 7,
 14,
 8,
 2,
 11,
 7,
 6,
 6,
 5,
 5,
 5,
 3,
 4,
 6,
 8,
 2,
 4,
 12,
 2,
 2,
 2,
 0,
 3,
 2,
 2,
 2,
 5,
 3,
 3,
 3,
 3,
 3,
 2,
 5,
 3,
 3,
 2,
 15,
 5,
 4,
 2,
 5,
 3,
 4,
 3,
 3,
 1,
 4,
 13,
 4,
 2,
 1,
 5,
 3,
 2,
 2,
 2,
 2,
 4,
 1,
 6,
 4,
 15,
 13,
 6,
 8,
 3,
 10,
 8,
 7,
 3,
 18,
 6,
 6,
 6,
 6,
 6,
 6,
 4,
 9,
 21,
 13,
 6,
 7,
 20,
 15,
 5,
 4,
 4,
 6,
 5,
 5,
 5,
 3,
 2,
 3,
 8,
 7,
 7,
 2,
 4,
 2,
 3,
 2,
 2,
 1,
 2,
 8,
 3,
 3,
 2,
 2,
 5,
 5,
 3,
 3,
 2,
 2,
 2,
 3,
 3,
 4,
 7,
 11,
 5,
 4,
 5,
 2,
 4,
 4,
 3,
 3,
 3,
 5,
 3,
 2,
 2,
 3,
 3,
 5,
 1,
 4,
 6,
 2,
 8,
 4,
 7,
 12,
 8,
 7,
 2,
 8,
 8,
 6,
 5,
 0,
 15,
 4,
 30,
 9,
 10,
 8,
 11,
 8,
 6,
 5,
 11,
 4,
 5,
 5,
 5,
 5,
 2,
 8,
 19,
 6,
 4,
 12,
 11,
 23,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 3,
 5,
 1,
 1,
 1,
 4,
 2,
 8,
 4,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 6,
 3,
 3,
 3,
 10,
 3,
 2,
 2,
 3,
 9,
 3,
 4,
 2,
 4,
 3,
 2,
 3,
 5,
 4,
 3,
 7,
 2,
 2,
 6,
 7,
 3,
 5,
 18,
 10,
 9,
 12,
 7,
 7,
 11,
 5,
 6,
 3,
 16,
 27,
 13,
 6,
 4,
 5,
 21,
 13,
 10,
 8,
 4,
 5,
 4,
 6,
 8,
 5,
 5,
 2,
 7,
 4,
 5,
 3,
 1,
 2,
 2,
 2,
 2,
 3,
 1,
 3,
 3,
 4,
 3,
 4,
 1,
 3,
 4,
 3,
 6,
 3,
 1,
 1,
 3,
 9,
 4,
 3,
 3,
 2,
 2,
 3,
 3,
 3,
 5,
 4,
 6,
 1,
 5,
 7,
 14,
 6,
 14,
 5,
 6,
 2,
 2,
 12,
 4,
 3,
 12,
 9,
 12,
 32,
 11,
 9,
 12,
 6,
 11,
 10,
 9,
 10,
 8,
 5,
 7,
 16,
 15,
 11,
 6,
 4,
 9,
 5,
 7,
 8,
 4,
 3,
 3,
 4,
 1,
 4,
 4,
 5,
 4,
 5,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 0,
 3,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 3,
 2,
 5,
 7,
 3,
 2,
 3,
 3,
 3,
 15,
 3,
 1,
 5,
 11,
 6,
 1,
 2,
 8,
 1,
 3,
 6,
 2,
 1,
 2,
 2,
 3,
 4,
 3,
 5,
 4,
 3,
 5,
 2,
 6,
 5,
 3,
 6,
 6,
 5,
 15,
 2,
 6,
 12,
 21,
 18,
 10,
 12,
 7,
 6,
 10,
 6,
 5,
 6,
 7,
 2,
 5,
 3,
 2,
 1,
 2,
 10,
 10,
 3,
 4,
 5,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 3,
 3,
 2,
 8,
 2,
 2,
 4,
 2,
 3,
 6,
 3,
 4,
 2,
 0,
 3,
 4,
 15,
 3,
 4,
 4,
 1,
 6,
 4,
 2,
 2,
 2,
 6,
 4,
 9,
 2,
 2,
 5,
 6,
 5,
 4,
 6,
 5,
 6,
 9,
 7,
 7,
 6,
 6,
 5,
 7,
 6,
 10,
 14,
 10,
 8,
 6,
 8,
 6,
 8,
 8,
 7,
 4,
 7,
 4,
 3,
 6,
 4,
 10,
 6,
 7,
 2,
 13,
 10,
 7,
 22,
 2,
 3,
 3,
 1,
 2,
 1,
 3,
 1,
 2,
 3,
 2,
 3,
 3,
 2,
 12,
 2,
 4,
 4,
 6,
 11,
 9,
 4,
 9,
 8,
 12,
 13,
 4,
 9,
 3,
 5,
 15,
 4,
 4,
 4,
 3,
 2,
 6,
 11,
 4,
 8,
 5,
 3,
 5,
 6,
 7,
 4,
 8,
 14,
 7,
 5,
 7,
 5,
 10,
 6,
 11,
 11,
 8,
 5,
 5,
 7,
 5,
 3,
 3,
 7,
 3,
 9,
 2,
 4,
 5,
 3,
 4,
 3,
 2,
 6,
 2,
 3,
 4,
 2,
 4,
 3,
 7,
 2,
 2,
 2,
 4,
 2,
 2,
 4,
 2,
 3,
 2,
 1,
 4,
 2,
 4,
 12,
 6,
 3,
 3,
 5,
 9,
 4,
 8,
 3,
 3,
 4,
 5,
 4,
 3,
 4,
 20,
 3,
 8,
 5,
 6,
 12,
 4,
 5,
 3,
 9,
 10,
 4,
 5,
 5,
 6,
 4,
 4,
 4,
 5,
 12,
 4,
 10,
 6,
 5,
 9,
 7,
 10,
 8,
 7,
 4,
 4,
 4,
 25,
 9,
 11,
 10,
 8,
 10,
 5,
 4,
 11,
 7,
 9,
 7,
 5,
 5,
 4,
 16,
 6,
 6,
 7,
 10,
 5,
 3,
 2,
 2,
 3,
 4,
 6,
 4,
 6,
 6,
 3,
 2,
 3,
 4,
 13,
 3,
 5,
 4,
 4,
 3,
 5,
 4,
 7,
 4,
 5,
 7,
 9,
 ...]

In [75]:
c['TR']=tr

In [78]:
c.head(10)

            Unnamed: 0  Open  High   Low  Close   TR
0  2017-09-01 10:00:00  3079  3079  3072   3074  NaN
1  2017-09-01 10:10:00  3074  3074  3073   3074  1.0
2  2017-09-01 10:20:00  3074  3074  3072   3072  2.0
3  2017-09-01 10:30:00  3072  3073  3072   3073  1.0
4  2017-09-01 10:40:00  3073  3074  3072   3072  2.0
5  2017-09-01 10:50:00  3072  3074  3072   3074  2.0
6  2017-09-01 11:00:00  3074  3074  3073   3073  1.0
7  2017-09-01 11:10:00  3073  3075  3073   3074  2.0
8  2017-09-01 11:20:00  3074  3074  3072   3072  2.0
9  2017-09-01 11:30:00  3072  3074  3072   3074  2.0