In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
b=pd.read_csv('Assignment1-data.csv')

In [4]:
c=pd.DataFrame(b)

In [5]:
c.head()

            Unnamed: 0  Open  High   Low  Close
0  2017-09-01 10:00:00  3079  3079  3072   3074
1  2017-09-01 10:10:00  3074  3074  3073   3074
2  2017-09-01 10:20:00  3074  3074  3072   3072
3  2017-09-01 10:30:00  3072  3073  3072   3073
4  2017-09-01 10:40:00  3073  3074  3072   3072

TR

In [6]:
a=c['High'].values.tolist()
d=c['Low'].values.tolist()
e=[]
for i in range(1,len(a)):
    e.append(a[i]-d[i])
test2=a[1:]
test3=c['Close'].values.tolist()
f=[]
for i in range(0,len(test2)):
    f.append(abs(test2[i]-test3[i]))
g=[]
test4=d[1:]
for i in range(0,len(test4)):
    g.append(abs(test4[i]-test3[i]))
tr=[]
for i in range(len(e)):
    tr.append(max(e[i],f[i],g[i]))
tr=[None] + tr
c['TR']=tr

+DM 1

In [13]:
high=a[1:]
low=d[1:]
dm1=[]
for i in range(0,len(high)):
    if (high[i]-high[i-1])>(low[i-1]-low[i]):
        dm1.append(max(high[i]-high[i-1],0))
    else:
        dm1.append(0)
dm1=[None]+dm1        
c['+DM 1']=dm1

Result

-DM 1

In [32]:
nedm1=[]
beg=0
first=a
last=d
for i in range(1,len(low)):
    if (low[i-1]-low[i])>(high[i]-high[i-1]):
        nedm1.append(max(low[i-1]-low[i],0))
    else:
        nedm1.append(0)
if (last[0]-last[1])>(first[1]-first[0]):
    beg=max(last[0]-last[1],0)
nedm1=[None,beg]+ nedm1        
c['-DM 1']=nedm1

TR14

In [51]:
tr14=[]
start=sum(tr[1:15])
tr14=[None for x in range(14)]+[start]
for i in range(15,len(tr)):
    tr14.append(tr14[i-1]-(tr14[i-1]/14)+tr[i])
c['TR14']=tr14

+DM14

In [55]:
dm14=[]

In [54]:
c.head(36)

             Unnamed: 0  Open  High   Low  Close   TR  +DM 1  -DM 1       TR14
0   2017-09-01 10:00:00  3079  3079  3072   3074  NaN    NaN    NaN        NaN
1   2017-09-01 10:10:00  3074  3074  3073   3074  1.0    0.0    0.0        NaN
2   2017-09-01 10:20:00  3074  3074  3072   3072  2.0    0.0    1.0        NaN
3   2017-09-01 10:30:00  3072  3073  3072   3073  1.0    0.0    0.0        NaN
4   2017-09-01 10:40:00  3073  3074  3072   3072  2.0    1.0    0.0        NaN
5   2017-09-01 10:50:00  3072  3074  3072   3074  2.0    0.0    0.0        NaN
6   2017-09-01 11:00:00  3074  3074  3073   3073  1.0    0.0    0.0        NaN
7   2017-09-01 11:10:00  3073  3075  3073   3074  2.0    1.0    0.0        NaN
8   2017-09-01 11:20:00  3074  3074  3072   3072  2.0    0.0    1.0        NaN
9   2017-09-01 11:30:00  3072  3074  3072   3074  2.0    0.0    0.0        NaN
10  2017-09-01 11:40:00  3074  3074  3072   3072  2.0    0.0    0.0        NaN
11  2017-09-01 11:50:00  3072  3073  3072   3072  1.0    0.0    0.0        NaN
12  2017-09-01 12:00:00  3072  3072  3067   3070  5.0    0.0    5.0        NaN
13  2017-09-01 12:10:00  3070  3070  3068   3068  2.0    0.0    0.0        NaN
14  2017-09-01 12:20:00  3068  3068  3066   3066  2.0    0.0    2.0  27.000000
15  2017-09-01 12:30:00  3066  3067  3063   3066  4.0    0.0    3.0  29.071429
16  2017-09-01 12:40:00  3066  3066  3063   3063  3.0    0.0    0.0  29.994898
17  2017-09-01 12:50:00  3063  3064  3061   3062  3.0    0.0    2.0  30.852405
18  2017-09-01 13:00:00  3062  3063  3061   3062  2.0    0.0    0.0  30.648662
19  2017-09-01 13:10:00  3062  3062  3059   3062  3.0    0.0    2.0  31.459472
20  2017-09-01 13:20:00  3062  3064  3062   3064  2.0    2.0    0.0  31.212367
21  2017-09-01 13:30:00  3064  3067  3062   3064  5.0    3.0    0.0  33.982912
22  2017-09-01 13:40:00  3064  3066  3064   3066  2.0    0.0    0.0  33.555561
23  2017-09-01 13:50:00  3066  3067  3065   3066  2.0    1.0    0.0  33.158735
24  2017-09-01 14:00:00  3066  3066  3063   3064  3.0    0.0    2.0  33.790254
25  2017-09-01 14:10:00  3064  3064  3061   3061  3.0    0.0    2.0  34.376665
26  2017-09-01 14:20:00  3061  3064  3061   3063  3.0    0.0    0.0  34.921189
27  2017-09-01 14:30:00  3063  3065  3063   3065  2.0    1.0    0.0  34.426818
28  2017-09-01 14:40:00  3065  3069  3065   3067  4.0    4.0    0.0  35.967760
29  2017-09-01 14:50:00  3067  3067  3062   3063  5.0    0.0    3.0  38.398634
30  2017-09-01 15:00:00  3063  3063  3059   3061  4.0    0.0    3.0  39.655874
31  2017-09-01 15:10:00  3061  3061  3059   3060  2.0    0.0    0.0  38.823312
32  2017-09-01 15:20:00  3060  3061  3060   3060  1.0    0.0    0.0  37.050218
33  2017-09-01 15:30:00  3060  3061  3059   3060  2.0    0.0    1.0  36.403774
34  2017-09-01 15:40:00  3060  3061  3060   3060  1.0    0.0    0.0  34.803504
35  2017-09-01 15:50:00  3060  3063  3060   3063  3.0    2.0    0.0  35.317540